body {
  background-color: #d7bea8;
}
#main {
  margin: 0 auto;
  text-align: center;
  background-color: #d7bea8;
}

form {
  background-color: #b49286;
  width: 50%;
  margin: 100px auto;
  border-radius: 10px;
}
